.features {
  align-items: center;
  padding: 2rem 0;
  justify-content: center;
  align-content: center;
  width: 150%;
}

img {
  border-radius: 3px;
}

.featuresimg {
  width: 400px; height: 210px; object-fit: cover;
}